#myCarousel {
    border: 10px groove rgba(96, 74, 60,0.0);
    border-bottom-left-radius: 45px;
    border-top-right-radius: 45px; 
    background-color:#938a7c;
    height: 22em;
    overflow: hidden;
    background: rgba(147, 138, 124, 0.0);
}

#inner{
    border-bottom-left-radius: 45px;
    border-top-right-radius: 45px; 

}

#img{
    border-bottom-left-radius: 45px;
    border-top-right-radius: 45px; 
}

img{

}

#crop{
    border-bottom-left-radius: 70px;
    border-top-right-radius: 100px;
    height:15em;
    align-content: center;
    margin-top: 6%;
    background: radial-gradient(steelblue,rgba(0,0,0,0),rgba(0,0,0,0));

}

#body{
    background: linear-gradient(to right, rgb(37,24,20), rgb(119,108,73), rgb(37,24,20));
    background-size:cover;
    font-family:monospace;
}

#well{
    border: 0px;
    box-shadow: 0 0 8px 8px rgba(45, 45, 45,0.9) inset;
    border-radius: 0px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    font-size: 20px;
    background: rgba(96, 74, 60, 0.8);
    opacity: 0.6;
    border: 4px groove rgba(96, 74, 60, 0.8);
}

.well p {
    color:#000;
    opacity: 1;
    color:#fff;
}

footer{
    padding:  10px 10px 10px 10px;
    color:#ccc;
    background: rgba(96, 74, 60, 0.6);
    align-content: center;
    box-shadow: 0 0 8px 8px rgba(45, 45, 45,0.6) inset;
    border: 4px groove rgba(96, 74, 60, 0.6);
}

#show{
    background: rgba(0, 0, 0, 0.0);
}

#nav{

    background: rgba(96, 74, 60, 0.6);
}

#active{
    background: rgba(84, 110, 109, 0.9);
}

#showtext{
    display: none;
}

#awoken{
    color:beige;
    font-size: 50px;
    text-align: center;
}
